:root {
  --black: #4d4c59;
  --purple: #6c63ff;
  --light-grey: #c8c8c8;
  --text-color: #9c9ab6;
}

* {
  margin: 0; /*zerando todas as margens*/
  padding: 0; /*zerando todo o espaçamento interno*/
  box-sizing: border-box; /*box-sizing altera a altura e largura padrão do box-model. border-box faz com que as propriedades incluam padding size,mas não incluem border nem margin*/
  text-decoration: none; /*tirando todas as decorações predefinidas do texto */
}

body {
  background-color: #f88c8c;
}

.header-img {
  color: rgba(221, 219, 242, 0.26);
}

main {
  display: flex; /*o display define o elemento como um flex container, torna seus filhos flex-itens.O flex faz com que se comportem como um elemento em bloco */
  flex-direction: row; /*flex-diretion define a direção dos flex itens, row é padrão, ou seja não precisava colorcar nesse caso*/
  align-items: center; /*align-itens alinha os flex itens de acordo com o eixo do container, center alinha ao centro*/
  justify-content: space-around; /* justify-content alinha os itens de acordo com a direção, o space-around cria espaços entre os elementos */
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--purple);
  font-family: 'Poppins'; /*indica a familia da fonte*/
  font-size: 36px; /* define o tamanho do texto*/
  font-weight: bold; /* define o peso da fonte, padrão é normal*/
  line-height: 54px; /*define a altura de uma linha*/
  letter-spacing: 0.105em; /*define o comportamento do espaçamento entre uma letra e outra*/
  text-transform: uppercase; /* define como o texto vai aparecer por exemplo no caso define que todas a letras serão maiusculas*/
}

h2 {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-color);
}

button {
  width: 160px;
  height: 46px;
  left: 290px;
  top: 457px;
  border-radius: 0.25rem;
  border: none;
  margin-top: 1rem;
  background-color: var(--purple);
  color: #ffffff;
}

.footer-img {
  top: 542px;
  color: rgba(221, 219, 242, 0.26);
}
